html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
}

.topmenu {
    text-align: center;
    background-color: #ddd;
    padding: 8px;
}



.memoryform {
    label {
        display: inline-block;
        width: 150px;
        font-size: 16px;
    }

    input[type="text"],
    input[type="number"] {
        padding: 4px 8px;;
    }

    button {
        padding: 13px 25px;
        font-size: 20px;
    }
}

.memorysettings {
    background-color: #eee;
    padding: 8px 13px;

    input {
        margin: 5px 0 5px 10px;
    }
}

.memoryaddrow {
    padding: 20px;
    text-align: center;
    padding-bottom: 100px;
}

.memorysave {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #999;
    padding: 5px 13px;
    text-align: center;
}

.description {
    text-align: center;
    padding: 13px;
    font-size: 20px;
    font-weight: 700;
}

.startmenu {
    padding: 8px 13px;
    text-align: center;
    font-size: 20px;

    label {
        display:block;
    }

    input[type="text"],
    input[type="number"] {
        padding: 4px 8px;;
    }

    button {
        padding: 13px 25px;
        font-size: 20px;
    }
}

.bottommenu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #999;
    padding: 5px 13px;
    text-align: center;

    button {
        padding: 13px 25px;
        font-size: 20px;
    }
}

.memoryedit {
    margin-top: 20px;
    max-width: 100%;
    // overflow: auto;

    &__row {
        display: flex;
    }

    &__column {
        width: 20%;
        min-width: 100px;
        box-shadow: 0 10px 30px rgba(black, 0.16);
        padding: 8px;
        background-color: white;

        &--small {
            min-width: 50px;
            width: 10%;
        }

        textarea {
            display: block;
            border: 1px solid #999;
            width: 100%;
            height: 40px;
        }
    }
}

.memory__list {
    button, a {
        display: inline-block;
        padding: 8px 13px;
        background-color: rgba(0,0,0,0);
        border: 0;
        text-decoration: none;
        line-height: 20px;
        font-size: 16px;
        color: black;

        &:visited {
            color: black;
        }
    }

    &__item {
        height: 40px;

        &:nth-child(even){
            background-color: rgba(black, 0.1);
        }
    }
}